body {
    width: 85%;
    margin: 0 auto;}

header {
    position: relative;
    margin: auto;
    background-color: #963c90;
    width: 100%;
    height: 100px;
}

h1 {
    position: absolute;
    font-size: 32pt;
    color: white;
    padding-left: 20px;
    padding-bottom: 10px;

}

h2 {
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 75%;}

a {
    text-decoration: none;
    color: black;}
p+h2 {
    padding-top: 15px;
    margin-left: 65px;
    margin-right:65px;
}

img {
    margin: auto;
    margin-bottom: 10px;
    display: block;
    padding: 5px;
    border: 2px solid gray;}

:focus {
    outline: none;
}

div.gallery {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}

p {
    margin: auto;
    padding-top: 45px;
    padding-bottom: 45px;
    text-align: justify;
    width: 75%;
}

footer {
    float: right;
    font-size: 11pt;
    font-family: Aerial;
}



ul.hr {
    /*background-color: #963c90;*/
    text-align: right;
    margin: 0;
    margin-right: 20px;
    padding-top: 45px; /* Значение полей */
}

ul.hr li {
    display: inline;
    /*border-radius: 4px;*/
    /*!* Рамка вокруг текста *!*/
    /*border: 2px solid #81337b;*/

    /*padding: 3px; !* Поля вокруг текста *!*/
    background-color: #963c90;
}